.bold-title {
    font-size: xx-large;
    font-weight: 700;
    .center;
}
.site-title {
    font-weight: 500;
    .center;
}

.center {
    text-align: center;
}


/// photo img carasal stuff
/// needs work

.isAction-photo-buttons>button {
    position: absolute;
    top: 50%;
}

.is-next {
    right: 10px;
}

.focused-machine-image {
    width: 100%;
}