<div class="header">
    <div class='site-title'>The Internet Pinball Database Presents</div>
    <span class='bold-title' [innerText]='title'></span><span class='search'><a href="search.pl?searchtype=advanced"><span class="glyphicon">&#xe003;</span>Search</a></span>
</div>
<hr class='hr'>
<div class="machine-title-date">
    <b><a name='"na"' [innerText]="title"></a></b> / IPD No. <a class="linkid" [href]="uri" [innerText]='ipdbNumber'></a>
    <i>/ October, 1981 / 4 Players</i>
</div>

<!--image stuff-->
<div class="swipe-image-wrapper" (pan)='panHandler($event)'>
    <button class='img-view-btn img-view-previous' (click)='isPreviousClick($event)'>
        <svg height="100%" version="1.1" viewBox="0 0 32 32" width="100%">
            <path d="M 19.41,20.09 14.83,15.5 19.41,10.91 18,9.5 l -6,6 6,6 z"></path>
        </svg>
    </button>

    <!--img -->
    <div id=container>
        <ng-template ngFor let-image [ngForOf]="images" let-i="index" [ngForTrackBy]="trackByFn">
            <img id={{generateId(i)}} class='box' [ngClass]="{'focused-position':focusedPosition(i), 'left-transition':hasLeftTransition(i)}" [src]='image'/>
          </ng-template>
    </div>
    <!-- img -->
    <button class='img-view-btn img-view-next' (click)='isNextClick($event)'>
        <svg height="100%" version="1.1" viewBox="0 0 32 32" width="100%">
            <path d="m 12.59,20.34 4.58,-4.59 -4.58,-4.59 1.41,-1.41 6,6 -6,6 z"></path>
        </svg>
    </button>
</div>

<app-call-to-action-bar (click)='handleGlossaryClick($event)'></app-call-to-action-bar>

<div *ngIf='glossaryModalOpen' (clickOutside)="clickedOutside($event)">
    <app-modal [pinballMachineRecord]="pinballMachineRecord"
                (closeClicked)='closeClicked($event)'></app-modal>
</div>