.site-title, .bold-title {
    color: white;
}

.bold-title {
    font-size: xx-large;
    font-weight: 700;
    .center;
}
.site-title {
    font-weight: 500;
    .center;
}

.center {
    text-align: center;
}


/// photo img carasal stuff
/// needs work

.img-view-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    color: inherit;
    text-align: inherit;
    font-size: 100%;
    font-family: inherit;
    cursor: default;
    line-height: inherit;
}


.img-view-btn:focus, .img-view-btn {
    outline: 0;
}

.img-view-previous {
    // display: none;
    height: 100%;
    left: 0px;
    opacity: .9;
    position: absolute;
    width: 90px;
    -moz-transition: opacity .1s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .1s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .1s cubic-bezier(0.0,0.0,0.2,1);
}

.img-view-next {
    // display: none;
    height: 100%;
    right: 0px;
    opacity: .9;
    position: absolute;
    width: 90px;
    -moz-transition: opacity .1s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .1s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .1s cubic-bezier(0.0,0.0,0.2,1);
}

svg {
    fill: rgba(0, 0, 0, 0.7);
}

.img-view-btn:not([aria-disabled=true]):not([disabled]):not([aria-hidden=true]) {
    cursor: p
}

.focused-image-content {
    width: 100%;
}

.call-to-action {
    background-color: rgba(125,125,125, .7);
    position: fixed;
    bottom:0;
    width: 100%;
}

.call-to-action a {
    margin:9px;
}