<div class="header">
    <div class='site-title'>The Internet Pinball Database Presents</div>
    <span class='bold-title' [innerText]='title'></span><span class='search'><a href="search.pl?searchtype=advanced"><span class="glyphicon">&#xe003;</span>Search</a></span>
</div>
<hr class='hr'>
<div class="machine-title-date">
    <b><a name='"na"' [innerText]="title"></a></b> / IPD No. <a class="linkid" [href]="uri" [innerText]='"na"'></a>
    <i>/ October, 1981 / 4 Players</i>
</div>

<!--
    /// data record
-->

<!--image stuff-->
<div class="swipe-image-wrapper" (swipe)='swipeHandler($event)' (pan)='panHandler($event)'>
    <button class='img-view-btn img-view-previous' (click)='isPreviousClick()'>
        <svg height="100%" version="1.1" viewBox="0 0 32 32" width="100%">
            <path d="M 19.41,20.09 14.83,15.5 19.41,10.91 18,9.5 l -6,6 6,6 z"></path>
        </svg>
    </button>
    <img class='focused-image-content' [src]='focusedImageSrcString' />
    <button class='img-view-btn img-view-next' (click)='isNextClick()'>
        <svg height="100%" version="1.1" viewBox="0 0 32 32" width="100%">
            <path d="m 12.59,20.34 4.58,-4.59 -4.58,-4.59 1.41,-1.41 6,6 -6,6 z"></path>
        </svg>
    </button>
</div>


<!-- controls and links-->
<!--<hr class='hr'>-->
<div class='call-to-action'>
    <!-- this stuff should open a full page modal with the details etc. like srk-->
    <a href="#"><span class="glyphicon glyphicon-th-list"></span>Games List</a>
    <a href="https://archive.ipdb.org"><span class="glyphicon glyphicon-folder-open">Archives</span></a>

    <button href="glossary.php" (click)='handleGlossaryClick()'><span class="glyphicon glyphicon-subscript"></span>Pinball&nbsp;Glossary</button>
    <a href="playing/skills.html"><span class="glyphicon glyphicon-gift"></span>Playing&nbsp;Skills</a>
    <a href="faq.html"><span class="glyphicon glyphicon-question-sign"></span>FAQ</a>
    <!--<a href="myinfo/showmyinfo.pl"><span class="glyphicon glyphicon-wrench"></span>Settings</a>-->
    <!--<a href="search.pl?searchtype=quick"><i class="glyphicon glyphicon-cloud"></i>Submit changes</a>-->
</div>

<div *ngIf='glossaryModalOpen'>
    <app-modal [pinballMachineRecord]="pinballMachineRecord"
                (closeClicked)='closeClicked($event)'></app-modal>
</div>